.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.titulo {
    margin: 0px 0px 8px 0px;
    padding: 0;
    font-size: 28px;
    font-weight: 400;
}

  
  .lista {
    border: 1px solid #777777;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px 0px;
    border-radius: 8px;
    width: 100%;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    width: 86%;
  }
  
  .icones {
    display: flex;
    gap: 8px;
  }
  
  .icone {
    cursor: pointer;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
  
  .linha {
    display: flex;
    justify-content: space-between;
  }
  
  .inputNome{
    width: 70%;
    padding: 8px;
    border: 1px solid #777777;
    border-radius: 4px;
  }
  .inputAno{
    width: 17%;
    padding: 8px;
    border: 1px solid #777777;
    border-radius: 4px;
  }
  .inputSlogan{
    width: 320px;
    padding: 8px;
    border: 1px solid #777777;
    border-radius: 4px;
  }

  .inputNome::placeholder,
  .inputAno::placeholder,
  .inputSlogan::placeholder{
    color: #777777;
  }

  .inputNome:focus,
  .inputAno:focus,
  .inputSlogan:focus{
    border: 1px solid black;
    outline: 1px solid black;
  }

  input,
input:focus,
input:focus-visible,
input:focus-within,
input:hover,
input:active {
  outline: none;
  box-shadow: none;
  border: 1px solid black;
}


  
  button {
    color: #FFFFFF;
    background-color: #777777;
    padding: 10px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #999;
    cursor: not-allowed;
  }

  .cadastrar{
    color: #FFFFFF;
    background-color: #777777;
    padding: 10px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    cursor: pointer;
  }

  .cadastrar:hover{
    background-color: #666666;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .cadastrar:disabled{
    background-color: #999;
    cursor: not-allowed;
  }
  
  .form > button {
    background-color: gray;
    color: white;
  }
  
  .prosseguir {
    margin: 40px 0px 0px 0px;
    font-size: 12px;
    width: 100%;
    height: 40px;
    background-color: #222222;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #333333
  }

  .prosseguir:hover{
    background-color: #111111;
  }

  .numero {
    color: #777777;
    margin-right: 4px;
  }
  
  .icone {
    color: #777777;
    transition: transform 0.1s ease, color 0.1s ease;
  }
  
  .icone:hover {
    color: #555555; /* vermelho no hover */
    cursor: pointer;
  }
  
  .icone:active {
    transform: scale(0.8); /* efeito de "afundar" no clique */
  }
  
  
  