.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.titulo {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 400;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.embaralhar{
    color: #FFFFFF;
    background-color: #777777;
    padding: 10px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    cursor: pointer;
  }

  .administrar{
    color: #FFFFFF;
    background-color: #222222;
    padding: 10px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    cursor: pointer;
  }

  .administrar:hover{
    background-color: #111111;
  }

  .embaralhar:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .resetar {
    background-color: crimson;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  




