.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  
  .batalha {
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    border: 1px solid #777777;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .ativa {
    border-color: black;
    background-color: #e0e0e0;
  }
  
  .startup {
    padding: 4px 8px;
    border-bottom: 1px solid #aaa;
    font-weight: 400;
    text-align: center;
  }
  
  .startup:last-child {
    border-bottom: none;
  }

  .finalizada {
    background-color: #dddddd;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none; /* Opcional: bloqueia interações totalmente */
  }
  
  