.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.finalizar{
    color: #FFFFFF;
    background-color: #777777;
    padding: 10px 40px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    cursor: pointer;
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 32px;
  }
  
  .eventos {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: right;
    gap: 16px;
    padding: 0px 0px 16px 0px;
  }
  
  .evento {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .paineis {
    display: flex;
  }

  .pontosGabarito{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: left;
    gap: 16px;
    padding: 0px 0px 16px 0px;
  }
  
  .startup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
  }

  .tituloStartup{
    font-size: 20px;
    padding: 16px 8px 0px 8px;
  }
  
  
  .pontuacao {
    display: flex;
    align-items: baseline;
    font-size: 40px;
    padding: 12px 0px;
  }
  
  .pontuacao small {
    font-size: 12px;
    margin-left: 4px;
  }
  
  .startup input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }

  .checkboxes{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 0px 16px 0px;
  }