.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 220px;
}

.titulo {
    font-size: 14px;
    text-align: center;
    max-width: 80px;
}

.infos {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}