:root {
    --cinza-200: #BBBBBB;
    --cinza-400: #AAAAAA;
    --cinza-600: #999999;
    --cinza-800: #777777;

    --preto-200: #555555;
    --preto-400: #333333;
    --preto-600: #222222;
    --preto-800: #000000;
  }